img {
    width: 250px;
}

ul {
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    width: 50%;;
}

.container-produtos {
    display: flex;
}

.payform {
    border: solid 2px black;
    background-color: #ED9C37;
    border-radius: 4px;
    height: 100%;
    width: 500px;
    min-width: none;
}

form {
    padding: 10px;
}

form input{
    width: 100%;
    margin-bottom: 10px;;
}

.container-bandeiras {
    margin-top: 10px;;
}

.container-bandeiras img:hover {
    cursor: pointer;
}   

.container-bandeiras img{
    width: 50px;
    margin-bottom: 10px;
}

form input {
    padding: 5px;
}

form button {
    padding: 5px 15px;
    width: 100%;
}
